#html {
    /* html 여백 없애기 */
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

#root {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    /* html 여백 없애기 */
    font-family: 'Dovemayo_gothic', sans-serif;
    text-align: center;
}

@font-face {
    font-family: 'Dovemayo_gothic';
    font-weight: 400;
    font-display: swap;
    src: local('Dovemayo_gothic'),
        url('./fonts/Dovemayo_gothic.ttf') format('truetype');
}
